name: Windows Workflow

on:
  push:
    branches: 
      - main

jobs:
  build-and-test:
    runs-on: windows-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Create and run Go program
        run: |
          @"
          package main
          
          import "fmt"
          
          func main() {
            fmt.Println("Hello, Windows from Go!")
          }
          "@ | Out-File -FilePath "hello.go"
          
          go run hello.go
        shell: powershell